# ignore all files and folders
*

# reinclude all folders
!**/

# set files to format
!*.css
!*.scss

!*.html
!*.json

!*.js
!*.jsx
!*.ts
!*.tsx

# ignore specific files
package-lock.json

# ignore specific folders
dist

node_modules
